<header class="container-fluid ">
    <div class="header flex align-items-cener jucetify-space-between flex-wrap">
        <div class="header-logo">
            <a href="">
                <h1 class="logo">My Glasses</h1>
            </a>
        </div>
        <ul class="navbar flex jucetify-space-between flex-wrap">
            <li><a class="text-color" href="">系列鏡框</a></li>
            <li><a class="text-color" href="">門市據點</a></li>
            <li><a class="text-color" href="">部落格</a></li>
            <li><a class="text-color" href="">常見問題</a></li>
        </ul>
    </div>
</header>